.wrapper {
  display: flex;
  justify-content:  center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: solid black 1px;
  color: rgb(247, 242, 236);
  background: url(img/fc813e57424d1ad9576f9066812f670f.jpeg);
}
.weatherIcon{
  width: 20px;
  height: 20px;
}